<app-header></app-header>
<div class="w-[40%] mx-auto mt-5">
  <div class="mb-3">
    <button class="btn" mat-button 
    (click)="openDialog()">
    <mat-icon class="text-white">add_box</mat-icon>
    <span class="text-white">Agregar articulo</span></button>
   </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Codigo Column -->
    <ng-container matColumnDef="Codigo">
      <th mat-header-cell *matHeaderCellDef > Codigo</th>
      <td mat-cell *matCellDef="let element"  style="text-align: center;">{{element.codigo}}</td>
    </ng-container>
  
    <!-- Descripcion Column -->
    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción</th>
      <td mat-cell *matCellDef="let element" > {{element.descripcion}} </td>
    </ng-container>
  
    <!-- Precio Column -->
    <ng-container matColumnDef="Precio">
      <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Precio </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.precio | currency:'S/ '}} </td>
    </ng-container>
  
    <!-- Accion Column -->
    <ng-container matColumnDef="Accion">
      <th mat-header-cell *matHeaderCellDef  style="text-align: center;"> Accion </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;"> <button mat-raised-button color="warn"
        (click)=" openDialogEliminar(element)"
        >Borrar <mat-icon>delete</mat-icon> </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="head"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="row"></tr>
  </table>
</div>



